  <div class="row">
      <div *ngFor="let shop of shops" class="card col-md-2 offset-md-1" style="margin-top: 10px; margin-right: -50px;">
        <img class="card-img-top" src="{{shop.picture}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{shop.name}}</h4>
          <h6 class="card-text">{{shop.city}}  {{shop.email}}</h6>
          <button class="btn btn-primary" (click)="likeShop(shop.id)">Like</button>
          <button class="btn btn-danger" (click)="dislikeShop(shop.id)">Dislike</button>
        </div>
      </div>
  </div>
