<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Shops</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="authenticated">
      <li class="nav-item">
        <a class="nav-link" routerLink="nearbyShops">Nearby Shops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/preferredShops">Preferred Shops</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-success float-xs-right" routerLink="/login" *ngIf="!authenticated">Sign in</a>
  <a class="btn btn-danger float-xs-right" (click)="logout()" *ngIf="authenticated">Logout</a>
</nav>
